 @{
    ViewData["Title"] = "Create your todo list";
}
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Create your todo list</h3>
                <hr/>
                <from method="post">
                    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Task</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example...to pay bill">
</div>

<div class="mb-3">
  <label for="pass1" class="form-label">Description</label>
 <textarea class="form-control"  id="floatingTextarea2" style="height: 100px"></textarea>
</div>

<hr/>
<button type="submit" class="btn-primary btn-primary">Create</button>
                </from>
            </div>
        </div>
    </div>
</div>


