@{
    ViewData["Title"] = "";
}
@model Todo
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Delete your todo list</h3>
                <hr/>
                <form method="post" asp-controller="Account" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id"/>
                    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Task</label>
  <input asp-for="Title" type="text" disabled class="form-control" id="exampleFormControlInput1" >
</div>

<div class="mb-3">
  <label for="pass1" class="form-label">Description</label>
 <textarea asp-for="Description" class="form-control" disabled  id="floatingTextarea2" style="height: 100px"></textarea>
</div>

<hr/>
<button type="submit" class="btn btn-danger ">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


