@{
    ViewData["Title"] = "";
}
@model Todo
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Edit your todo list</h3>
                <hr/>
                <form method="post" asp-controller="Account" asp-action="EditPost">
                    <input type="hidden" asp-for="Id"/>
                    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Task</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" asp-for="Title" >
</div>

<div class="mb-3">
  <label for="pass1" class="form-label">Description</label>
 <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" asp-for="Description"></textarea>
</div>

<hr/>
<button type="submit" class="btn-primary btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

